<section id="people-info" class="section">
    <div class="row">
        <div class="col-12 col-xl-5">
            <div class="">
                <img src="../../assets/images/cd_left.jpg" class="d-block w-100" alt="">
            </div>
            <div class="text-name text-center">
                <p class="dancing">Nhã Trân</p>
                <p>Cô dâu: Phạm Thị Nhã Trân</p>
                <p>Bố: PHẠM VĂN NĂM</p>
                <p>Mẹ: VÕ THỊ THANH TUYỀN</p>
                <p>Địa chỉ: P.Lái Hiếu, TP.Ngã Bảy, T.Hậu Giang</p>
            </div>
        </div>
        <div class="d-none d-xl-block col-xl-2">

        </div>
        <div class="col-12 col-xl-5">
            <div class="">
                <img src="../../assets/images/cr_right.jpg" class="d-block w-100" alt="">
            </div>
            <div class="text-name text-center">
                <p class="dancing">Quốc Đạt</p>
                <p>Chú rể: Phạm Quốc Đạt</p>
                <p>Bố: PHẠM VĂN SÁU</p>
                <p>Mẹ: VŨ THỊ ANH</p>
                <p>Địa chỉ: X.Đạ Đờn, H.Lâm Hà, T.Lâm Đồng</p>
            </div>
        </div>
    </div>
</section>